<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div id="heading">
  <h2> Hey {{name}}!</h2>
<h1>Welcome to {{ title|uppercase }} :)
  </h1>
  <h5>Number Addition</h5>
  {{(num1+num2)|currency:'INR'}}
 <h5>Current Date</h5>
 {{displayDate()}}

 We are from family Component.
 <div>
 <app-family></app-family>
 </div>
 Shop:

 <a routerLink="catalog">Catalog</a>
 <a routerLink="products">Products</a>
 <a routerLink="todo">Task</a>
 <a routerLink="remote">Remote</a>
<router-outlet></router-outlet>
 </div>
</div>

